body {
    position: relative;
}
.sidebar {
    position: static;
}
.main {
    margin-left: 0;
}

#video, #options, .fade, .error, .expand, .showifexpanded, .leaflet-control {
    display: none;
}

#map, #title, #status, #details {
    position: absolute;
    left: 0;
    margin-top: 0;
    background: #fff;
}

#map {
    top: 130px;
    width: 900px;
    height: 600px;
    margin-left: 10px;
}

#title {
    top: 0;
}

#status {
    top: 70px;
}

#details {
    top: 750px
}
#details td {
    padding-top: 8px;
    padding-bottom: 8px;
}
#details td:first-child {
    background-position: 2px 7px;
}