@import '_icons.scss';

$button-color: rgba(2, 190, 0, 0.85);
$button-color-hover: rgba(2, 190, 0, 1);
$button-color-bg: rgba(2, 222, 0, 0.3);
$button-color-bg-hover: rgba(2, 222, 0, 0.5);

.jwplayer {
  // Play button
  .jw-display-icon-container {
    background-color: $button-color-bg;
    border: 1px solid $button-color;
    border-radius: 50%;
    transition: all .3s ease-in;

    &:hover {
      background-color: $button-color-bg-hover !important;
      border-color: $button-color-hover;
    }

    .jw-icon {
      color: $button-color;
      transition: all .3s ease-in;

      &:hover {
        color: $button-color-hover !important;
      }
    }
  }

  // Play button hover styles (for entire video content area)
  .jw-media:hover~.jw-controls .jw-display-icon-container {
    background-color: $button-color-bg-hover !important;
    transition: all .1s ease-out;

    .jw-icon {
      color: $button-color-hover;
      transition: all .1s ease-out;
    }
  }

  // Playlist button and tooltip
  .jw-dock {
    margin: 0;

    .jw-dock-button {
      height: 41px;
      padding: 5px 11px 10px 5px;
      width: 42px;

      .jw-arrow,
      .jw-icon {
        display: none;
      }

      .jw-overlay {
        background: none;
        display: block;
        font-size: 14px;
        margin: 0;
        opacity: 0;
        padding: 4px 0 0;
        top: 41px;
        transition: opacity .3s ease-in;
      }

      .jw-text {
        color: $button-color-hover;
        font-size: 14px;
        font-weight: bold;
        text-shadow: #000 1px 1px 1px;
        text-transform: uppercase;
      }
    }
  }

  // Shared button styles (playlist, close, prev/next buttons)
  .jw-dock-button,
  .jw-related-close,
  .jw-related-page-left,
  .jw-related-page-right {
    background: $button-color-bg;
    border: 1px solid $button-color;
    border-radius: 2px;
    color: $button-color;
    font-size: 26px;
    margin: 8px;
    transition: all .3s ease-in;

    &:hover {
      background: $button-color-bg-hover !important;
      border-color: $button-color-hover;
      color: $button-color-hover;
      transition: all .1s ease-out;
    }
  }
  .jw-dock-button:hover {
    .jw-overlay {
      opacity: 1;
      transition-duration: .1s;
    }
  }
  .jw-related-close,
  .jw-related-page-left,
  .jw-related-page-right {
    box-shadow: none;
    height: 35px !important;
    opacity: 1;
    padding: 0;
    text-shadow: none;
    width: 35px !important;
  }
  .jw-related-page-left,
  .jw-related-page-right {
    margin-top: -15px !important;
  }

  // Tooltip for next up control
  .jw-nextup-title {
    font-weight: normal;
    margin-top: -.5em;
    padding: 0 6px 8px;
  }

  // Fix for slight shift of playlist content when jwplayer is flagged as inactive
  .jw-plugin-related {
    bottom: 0 !important;
  }

  // Show the poster image on all video players (including ones w/ playlists)
  .jw-preview {
    background-image: url("../img/poster.png");
    background-size: cover;
  }

  // Highlight selected video in playlist (not working with long playlists of 10+)
  // .jw-related-close + .jw-related-container,
  // .jw-related-page-right + .jw-related-container {
  //   .jw-related-item:last-child .jw-related-item-content {
  //     border-color: $button-color;
  //   }
  // }

  // Show all content in next up playlist box; remove the gradient background
  .jw-related-item-content-container {
    overflow: scroll;
    padding-bottom: 7px;

    &:after {
      background-image: none !important;
    }
  }

  // Show all content in playlist boxes; remove the gradient backgrounds, etc.
  .jw-related-item-group {
    .jw-item-index-text {
      margin: 7px 0;
      overflow: visible;
      padding: 0 10px !important;

      &:before {
        background-image: none !important;
      }
    }

    .jw-related-item-content span {
      white-space: normal;
    }

    .jw-related-item-title {
      overflow: scroll;
      top: 0;

      span {
        color: hsla(0,0%,100%,.9);
      }
    }
  }

  // Hide the scrollbars on next up, playlist boxes
  .jw-related-item-content-container,
  .jw-related-item-title {
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, and Opera
    }
  }

  // Closed captions
  .jw-text-track-cue {
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 1px 0 2px;
  }

  // Hide the title bar on video players w/ a playlist
  .jw-title {
    display: none !important;
  }

  .jw-related-next-up-text {
    color: #fff;
  }
}
