@use 'feeds';

table {
  font-size: 1em;
}

td, th {
  background: none;
  border: 0;
  padding: .15em .5em .15em 0;
}

th {
  font-weight: 300;
  vertical-align: top;
}

.podcast {
  margin-top: 2em;
}
