@import '_feeds.scss';
@import '_subnav.scss';
@import '_variables.scss';

h2 {
  border-bottom: 1px solid #ddd;
  margin: 2em 0 0;
  padding: 0 0 .5em;
}

.archive .time {
  display: none;
}

.seminars {
  margin: 0 0 3.5em;

  > li {
    border-bottom: 1px solid #eee;

    > a, > div {
      display: flex;
      font-weight: 300;
      padding: 1.25em 3px;
    }
    > a {
      background: #fff;
      color: $text-color;
      text-decoration: none;
      transition: background .33s ease-in-out;

      &:hover {
        background: rgba(255, 255, 0, .10);
      }
    }
    h3 {
      color: #000;
      font-family: $font-sans;
      font-weight: normal;
      margin: 0;
    }
    mark {
      background: none;
      color: #c00;
      padding: 0;
    }
    p {
      margin: .25em 0 0;
    }
    span {
      color: #999;
      display: block;

      mark {
        color: rgba(204, 0, 0, .5);
      }
    }
    time {
      flex: 0 0 auto;
      order: 1;
      width: 6em;
    }

    .livenow {
      flex: 0 0 auto;
      order: 3;
      text-align: right;
      width: 6em;
    }
    .topic {
      flex: 1 1 auto;
      order: 2;
    }
  }
}
