@import '_feeds.scss';
@import '_subnav.scss';
@import '_variables.scss'; /* template-level vars. */

h2 {
  border-bottom: 1px solid #ddd;
  margin: 2em 0 0;
  padding: 0 0 .5em;
}

.archives .time {
  display: none;
}

.details {
  align-items: center;
  background: #fcfbfa;
  border: 1px solid #f6f4f0;
  margin-left: 0;

  img {
    display: inline-block;
    padding: 6px;
  }
  p {
    padding-right: 1em;
  }

  .one-of-five {
    line-height: 0;
    padding-left: 0;
  }
}

.seminars {
  margin: 0 0 3.5em;

  > li {
    border-bottom: 1px solid #eee;

    > a, > div {
      display: flex;
      font-weight: 300;
      padding: 1.25em 3px;
    }
    > a {
      background: #fff;
      color: $text-color;
      text-decoration: none;
      transition: background .33s ease-in-out;

      &:hover {
        background: rgba(255, 255, 0, .10);
      }
    }
    button {
      padding: 6px 8px;
    }
    h3 {
      color: #000;
      font-family: $font-sans;
      font-weight: normal;
      margin: 0;
    }
    mark {
      background: none;
      color: #c00;
      padding: 0;
    }
    p {
      margin: .25em 0 0;
    }
    span {
      color: #999;
      display: block;

      mark {
        color: rgba(204, 0, 0, .5);
      }
    }
    time {
      flex: 0 0 auto;
      order: 1;
      width: 6.5em;
    }

    .live {
      flex: 0 0 auto;
      order: 3;
      padding-left: .5em;
      text-align: right;
    }
    .title {
      flex: 1 1 auto;
      order: 2;
    }
  }
}
