@import '_feeds.scss';
@import '_variables.scss';  /* template-level vars. */

dl {
  margin: 1em 0 .5em;

  > dd {
    margin: 0;

    &.captions a {
      background: #999;
      border-radius: 6px;
      color: #fff;
      font-size: .8em;
      padding: 1px 6px;
      text-decoration: none;
    }
  }
  > dt {
    color: #666;
    font-weight: 300;
    margin-top: 1em;
    text-transform: uppercase;
  }
}

h2 {
  font: 500 1.4em $font-sans;
  line-height: 1.25;
  margin-top: 1em;
}

p.captions {
  border-top: 1px solid #eee;
  color: #666;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.alert {
  h3 {
    font: normal 1.25em $font-sans;
  }
}

.archives {
  .dayofweek,
  .host,
  .location,
  .time {
    display: none;
  }

  .details {
    margin-bottom: 0;
  }
}

.details {
  margin-bottom: 1em;

  h4 {
    font: 500 1.2em $font-sans;
    margin: 0;
  }
  h4 + p {
    margin-top: .25em;
  }
}

.flash {
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding: .5em 0;

  &.alert {
    padding: .5em 3px;
  }
}

.future {
  .details {
    margin-bottom: 0;
    width: 100%;
  }
  .video {
    display: none;
  }
}

.jw-skin-five .jw-display-icon-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  .jw-icon {
    color: #222;
  }
}

.mobile {
  margin-bottom: 0;
}

.podcast {
  margin-top: 2em;
}

.row {
  margin-top: 1.5em;
}

.video {
  margin-bottom: 1em;

  h3 {
    margin-top: 0;
  }

  .alert {
    margin-top: 0;
  }
}
