@import '_feeds.scss';

dl {
  > dd {
    margin: 0;
  }
  > dt {
    font-weight: normal;
    margin-top: 1em;
  }
}

.archive {
  .location,
  .time {
    display: none;
  }
}

.captions {
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding: .5em 0;
}

.details {
  margin-bottom: 1em;

  h4 {
    margin-top: 0;
  }
}

.flash {
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding: .5em 0;

  &.alert {
    padding: .5em 3px;
  }
}

.future {
  .details {
    width: 100%;
  }
  .video {
    display: none;
  }
}

.row {
  margin-top: 2em;
}

.video {
  margin-bottom: 1em;

  h3 {
    margin-top: 0;
  }
}
